.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  padding: 1rem 0.5rem;
}

.form {
  width: 50%;
}

input, select {
  width: 100%;
}
.fieldset {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: none;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

input[type="checkbox"] {
  height: 15px;
}