.card {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 9px 3px rgba(34, 60, 80, 0.38);
  transition: 0.25s ease-out;
}

.card:hover {
  box-shadow: 0px 0px 9px 6px rgba(50, 60, 90, 0.5);
}

.cardImage {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
}

.cardPrice {
  height: 15%;
  padding: 0.2rem 0.5rem;
  background-color: rgba(119, 192, 201, 0.38);
}

.cardPriceValue {
  font-size: 24px;
  font-weight: 500;
}

.cardHeart {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 75px;
  height: 75px;
  border: 3px solid rgba(128, 128, 128, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.cardHearIcon {
  margin-top: 20%;
  width: 10px;
  height: 10px;
  background-color: red;
}

.cardInfo {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.cardInfoDescrition {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  max-height: 50px;
  font-weight: bold;
  color: rgb(56, 135, 103);
}

.cardInfoLocation {
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
}

.line-clamp {
  
}

.cardInfoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfoIcon {
  width: 50px;
  height: 50px;
  background-color: red;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardDate {
  font-size: 14px;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.9);
}

.cardSendMessage {
  width: 45px;
  height: 45px;
  border: 2px solid rgba(128, 128, 128, 0.456);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.cardSendMessage:hover {
  border-color: rgba(128, 128, 128, 0.9);
}

.cardSendMessageIcon {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}