

.nav {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 60, 60);
}

.navList {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navItem {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
}