.searchWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(228, 228, 228);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 35%;
}

.searchIcon {
  width: 30px;
  height: 30px;
}

.searchBar {
  border: none;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(183, 183, 183);
  background-color: hsl(217, 54%, 11%);
}

.searchBar::placeholder {
  color: rgba(250, 250, 250, 0.353);
  transition: 0.3s linear;
}

.searchBar:focus::placeholder {
  color: rgb(255, 255, 255);
}

.searchBar:focus {
  outline: none;
  color: rgb(255, 255, 255);
}